<div class="panopoly-spotlight-widget-wrapper">
  <div class="panopoly-spotlight-buttons-wrapper" data-rotation-time="{{ duration }}">
    <ul style="{{ (pager_style != 'full') ? 'display: none': '' }}">
      {% for item in items %}
        <li>
          <a href="#panopoly-spotlight-{{ loop.index0 }}">{{ loop.index }}</a>
        </li>
      {% endfor %}
    </ul>
    {% if pause_play_buttons or pager_style == 'mini' %}
    <div class="panopoly-spotlight-function-buttons">
      {% if player_style == 'mini' %}
        <a href="#" class="panopoly-spotlight-previous">{{ 'Prev'|t }}</a>
      {% endif %}
      {% if pause_play_buttons %}
        <a href="#" class="panopoly-spotlight-pause-play">{{ 'Pause'|t }}</a>
      {% endif %}
      {% if player_style == 'mini' %}
        <a href="#" class="panopoly-spotlight-next">{{ 'Next'|t }}</a>
      {% endif %}
    </div>
    {% endif %}
  </div>
  {% for item in items %}
    <div id="panopoly-spotlight-{{ loop.index0 }}" class="panopoly-spotlight">
      {% if item.url %}
        {{ link(item.image, item.url) }}
      {% else %}
        {{ item.image }}
      {% endif %}
      <div class="panopoly-spotlight-wrapper">
        {% if item.title %}
          <h3 class="panopoly-spotlight-label">{{ item.url ? link(item.title, item.url) : item.title }}</h3>
        {% endif %}
        {% if item.description %}
          <div class="panopoly-spotlight-info">
            <p>{{ item.description }}</p>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
